body{
    background-image: url("https://t3.ftcdn.net/jpg/02/06/17/70/240_F_206177062_4bmNR59xxMdBCxt7CgonoukiFKUyudmo.jpg");
}
.material-icons.back{
    font-size: 6rem;
    border-radius: 45px;
    background-color:seagreen;
}
#d1{
    word-spacing: 50px;
}
.fa-facebook{
    font-size: 6rem;
    border-radius: 45px;
    background-color: #4267B2;
    margin-left: 400px;
    margin-top: 100px;
}
.fa-instagram{
    font-size: 6rem;
    border-radius: 45px;
    background-color: deeppink;
}
.fa-linkedin{
    font-size: 6rem;
    border-radius: 45px;
    background-color: rgb(10, 102, 194);
}
.fa-youtube{
    font-size: 6rem;
    border-radius: 45px;
    color: #FF0000;
    background-color: white;
}
.fa-twitter{
    font-size: 6rem;
    border-radius: 45px;
    background-color: #1DA1F2;
}
#a2{
    text-align: center;
    font-family: 'Sail', cursive;
    font-size: 6rem;
    font-weight: bolder;
    letter-spacing: 0.35rem;
    margin-top: 1.5rem;
    color: black;
    background-color: rgba(254, 254, 254, 0.3);
}
#txt{
    font-size: 50px;
    color: white;
    background-color: black;
    height: 200px;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
}
a:link{
    color: white;
}
a:visited{
    color: rgb(251, 239, 193);
}
a:hover{
    color:blueviolet;
}
a:active{
    color: rgb(205, 118, 206);
}

@media screen and (max-width:550px){
    #d1{
        word-spacing: 10px;
    }
    .fa-facebook{
        margin-left: 50px;
        margin-top: 80px;
        font-size: 2.5rem;
    }
    .fa-instagram,.fa-linkedin,.fa-twitter,.fa-youtube{
        font-size: 2.5rem;
    }
    #txt{
        font-size: 16px;
        height: 150px;
        margin-top: 60px;
    }
}
